		<div class="widget just-viewed">
			<h3>Receintly Viewed</h3>
			<ul>
				<li><a href="#"><img src="img/temp.gif" alt="" /></a></li>
				<li><a href="#"><img src="img/temp.gif" alt="" /></a></li>

				<li><a href="#"><img src="img/temp.gif" alt="" /></a></li>
				<li><a href="#"><img src="img/temp.gif" alt="" /></a></li>
			</ul>
		</div>