	<section id="sidebar">

		<div class="promo">
			<a href="#"></a>
		</div>

		<div class="widget">
			<h3>About our store</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. </p>
		</div>

		{{ include 'recently' }}

		{{ include 'social' }}

	</section><!-- e: sidebar -->