<div id="page">
	
	<div id="breadcrumb">
		<ul>
			<li><a href="/">Home &raquo;</a></li>
			<li><strong>Error 404</strong></li>
		</ul>
	</div>


	<header class="page-head">
		<h1>Error 404 - Not Found</h1>
	</header><!-- e: page header -->


	<section id="content">

		<article class="entry">
			<p>What a shame! It seems whatever you were looking for isn't here.</p>
		</article>

	</section><!-- e: content -->


	{% include 'sidebar' %}


</div><!-- e: page -->